
.google-demo {margin: 10px;}
.google-demo .facebook-user-name {vertical-align: top; }

.google-demo .login-facebook-button {
  margin: 6px; display: table-cell;
 }
.google-user-info { float:left; font-size: 16px; }

.google-button {
  float:left;
  display: inline-block;
}


.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}

.google-user-info img {
  display: inline-block; 
  height: 50px; width: auto;
}

.google-user-info {
  height: 50px;
  /*//background-color: lightgray; */
  text-align: center;
}

.google-user-name {
  height: 50px;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  color: lightgray;  
}
